﻿@page
@model Otus.Teaching.Pcf.App.Pages.Administration.PreferenceModel
@using Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models; 


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Предпочтения")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GetAllAsync().Result.ToList<PreferenceResponse>())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </tbody>
</table>

