﻿@page
@model Otus.Teaching.Pcf.App.Pages.Administration.promocodes.IndexModel
@{
}
@using Otus.Teaching.Pcf.ReceivingFromPartner.WebHost.Models;
@using Otus.Teaching.Pcf.Administration.WebHost.Models;

<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#Crete">Добавить</button>
<br>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Промокод</th>
            <th>Инфо</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>ID партнёра</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var promocode in Model.GetAllPromocodesAsync())
        {
            <tr>
                <td>@promocode.Id</td>
                <td>@promocode.Code</td>
                <td>@promocode.ServiceInfo</td>
                <td>@promocode.BeginDate</td>
                <td>@promocode.EndDate</td>
                <td>@promocode.PartnerId</td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="Crete" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <select name="Id" class="form-control" id="Id">
                        @foreach (var item in Model.GetResponseAllAsync())
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="form-group">
                        <label for="inputAddress">Описание</label>
                        <input type="text" class="form-control" id="serviceInfo" name="serviceInfo">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Промокод</label>
                        <input type="text" class="form-control" id="promoCode" name="promoCode">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Предпочтение</label>
                        <select id="preferenceId" name="preferenceId" class="form-control" required>
                            @foreach (var item in Model.GetPreferenceIdAllAsync().Result.ToList<PreferenceResponse>())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Менеджер</label>
                        <select id="partnerManagerId" name="partnerManagerId" class="form-control" required>
                            @foreach (var item in Model.GetEmployeesAllAsync())
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" asp-page-handler="Submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>


