﻿@page

@model Otus.Teaching.Pcf.App.Pages.Administration.Customers.IndexModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

@using Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models;

<div>
    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#Crete">Добавить</button>
    <br>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Имя")
                </th>
                <th>
                    @Html.DisplayName("Фамилия")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetCustomerAllAsync().Result.ToList<CustomerShortResponse>())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <form method="post">
                            <input type="button" class="btn btn-secondary btn-sm" onclick="GetCutomer('@item.Id')" value="Редактировать" />
                            <button id="myModalEditBtn" type="submit" class="btn btn-danger btn-sm" asp-page-handler="delete" asp-route-id="@item.Id">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="Crete" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Добавление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="was-validated" method="post">

                    <label for="firstName">Имя:</label>
                    <input type="text" class="form-control is-invalid" name="firstName" aria-describedby="firstName" required>

                    <label for="lastName">Фамилия:</label>
                    <input type="text" class="form-control" name="lastName" aria-describedby="lastName" required>

                    <label for="Email">Email:</label>
                    <input type="email" class="form-control" name="Email" aria-describedby="email" required>

                    <label for="PreferenceIds">Предпочтения</label>

                    <select name="PreferenceIds" class="form-control" required>
                        @foreach (var item in Model.GetResponseAllAsync())
                        {
                            <option id="@item.Id" value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Редактирование</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="was-validated" method="post">
                    <input id="Id" class="form-control is-invalid" name="Id" aria-describedby="Id" required>
                    <label for="firstName">Имя:</label>
                    <input id="FirstName" class="form-control is-invalid" name="FirstName" aria-describedby="FirstName" required>
                    <label for="lastName">Фамилия:</label>
                    <input id="LastName" class="form-control" name="LastName" aria-describedby="LastName" required>
                    <label for="Email">Email:</label>
                    <input id="Email" class="form-control" name="Email" aria-describedby="Email" required>
                    <label for="Preferences">Предпочтения</label>
                    <br>
                    @foreach (var item in Model.GetResponseAllAsync())
                    {
                        <input name="PreferenceIds" type="checkbox" id="@item.Name" value="@item.Id">@item.Name<br />

                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function GetCutomer(Id) {
        $.ajax({
            url: "/Administration/Customers/",
            dataType: "json",
            headers: { "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val() },
            type: "POST",
            data: { "Id": Id },
            success: function (data) {
                var obj = JSON.parse(data);
                document.getElementById("Id").value = obj.Id;
                document.getElementById("FirstName").value = obj.FirstName;
                document.getElementById("LastName").value = obj.LastName;
                document.getElementById("Email").value = obj.Email;

                for (i in obj.Preferences) {
                    document.getElementById(obj.Preferences[i].Name).checked = true;
                }

                $('#Edit').modal('show');
            },
            error: function (xhr) {
            }
        });

        var hideView = function () {
            $('#Edit').modal('hide');
        }
    }

    function Save(Id, FirstName, LastName, Email) {
        $.ajax({
            url: "/Administration/Customers/",
            dataType: "json",
            headers: { "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val() },
            type: "get",
            data: {
                "Id": Id,
                "FirstName": FirstName,
                "LastName": LastName,
                "Email": Email
            },
            success: function (data) {
            },
        });
    }
</script>